PLATFORM=linux
ARCH=arm64
DATA_ROOT=/var/lib/homeassistant
# DATA_ROOT=/mnt/dietpi_userdata/homeassistant
LOG_ROOT=/var/log
XDG_CONFIG_ROOT="$HOME/.config"
TOOLS_ROOT=/var/lib/tools
# TOOLS_ROOT=/mnt/dietpi_userdata/homeassistant/tools
WORKDIR="$HOME/home-assistant"
LAN_HOST=192.168.1.100
LOCAL_HOST=127.0.0.1
