{{- $global := (ds "value").global -}}
tunnel: mini-lab
credentials-file: /etc/cloudflared/creds/credentials.json
warp-routing:
  enabled: false
no-autoupdate: true
ingress:
  - hostname: "*.{{ $global.domain }}"
    service: https://traefik:8443
    originRequest:
      originServerName: "{{ $global.domain }}"
  - service: http_status:404
