{{- $cloudflareTunnel := (ds "value").cloudflareTunnel -}}
{
  "AccountTag": "{{$cloudflareTunnel.accountId}}",
  "TunnelSecret": "{{$cloudflareTunnel.tunnelSecret}}",
  "TunnelID": "{{$cloudflareTunnel.tunnelId}}",
  "Endpoint": ""
}
